h1 {
	border-style: dotted;
	width: 580px;
    background-color: white;
    margin-left: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #696969;
}

li {
    float: left;
}

li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #00FFFF;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background-image: url("https://i.ytimg.com/vi/d-zKJCKsoWw/maxresdefault.jpg");
    background-size: cover;
}

.Style{
    font-family: 'Poiret One', cursive;
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 20px;
}

#p1{
    font-family: 'Playfair Display', serif;
    background-color: white;
    color: black;
    display: inline-block;
    margin-left: 600px;
    margin-top: 50px;
}

#ul :before{
    content: "☆ ";
}
