h1 {
	color: green;
    background-color: white;
    display: inline-block;
    font-family: 'Shadows Into Light', cursive;

}


#ul1 {
	color: purple;
	background-color: pink;
    display: inline-block;
    margin-left: 1-0px;
    font-size: 23px;
    font-family: 'Shadows Into Light', cursive;

}
#ul1 :before {
  content: "❁ ";
}

p {
    color: white;
    background-color: black;
    font-size: 30px;
    display: inline-block;
    margin-left: 440px;
    font-family: 'Shadows Into Light', cursive;

}

/* Start http://www.cursors-4u.com */ body, a:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-7/nat619.cur), progress !important;} /* End http://www.cursors-4u.com */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #696969;
}

li {
    float: left;
}

li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #00FFFF;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background-image: url("http://wallpapercave.com/wp/fvfe71Z.jpg");
    background-size: cover;
}

