body {
	background-color: lightcyan;
	float: right;
}

#p {
	text-align: center;
    font-family: 'Passion One', cursive;
}

#psmall{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

p {
	font-size: 20px;
	font-family: 'Dekko', cursive;
}

h1 {
	text-align: center;
    font-family: 'Pacifico', cursive;

}

img {
	margin: auto;
	display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #696969;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #00FFFF;
}


/* Start http://www.cursors-4u.com */ .p1, a:hover {cursor: url(http://ani.cursors-4u.net/movie/mov-2/mov157.cur), progress !important;} /* End http://www.cursors-4u.com */


